section{
  height:auto;
  width: 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
 background-attachment: fixed;
 
}

#backgroundSahad{
  background-image: url("./Assets/Images/naneBackground.jpeg");
}

#backgroundSelena{

  background-image: url("./Assets/Images/selenabackground2.jpg");

}


#backgroundMaren{
  background-image: url("./Assets/Images/MarenBackground.jpg");

}

#backgroundHolly{
  background-image: url("./Assets/Images/buddyBackground.webp");
}

#backgroundDRI{
  background-image:url("./Assets/Images/DRIBackground.jpg")
}

#backgroundStevie{
  background-image: url("./Assets/Images/StevieRaybackground.jpg");
}
#backgroundGeorge{
  background-image: url("./Assets/Images/GeorgeBackground.jpg");
}
#backgroundBigJade{
  background-image: url("./Assets/Images/BigJadebackground.jpeg");
}
#backgroundJanisJoplin{
  background-image: url("./Assets/Images/janisjoplinbackground.jpg")
}
#backgroundAGiantDog{
  background-image: url("./Assets/Images/AGiantDog.jpg");
}