section{
  height:auto;
  width: 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
 background-attachment: fixed;
 
}

#backgroundSahad{
  background-image: url("./Assets/Images/naneBackground.jpg");
}

#backgroundSelena{

  background-image: url("./Assets/Images/selenabackground2.jpg");

}


#backgroundMaren{
  background-image: url("./Assets/Images/MarenBackground.jpg");

}

#backgroundHolly{
  background-image: url("./Assets/Images/buddyBackground.webp");
}